
.container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.inputarea {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 30px;
}

.header {
  border-top: solid 2px white;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
}

.textarea {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 5px;
}
