
.container {
}

.header {
  position:absolute;
  padding: 10px;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.topiclist {
  position:absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 50px;
  overflow: scroll;
  /* border: solid 2px red; */
}

.topicListItem {
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer {
  position:absolute;
  padding: 10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 0px;
}

.headerButton {
  padding:2px;
  margin: 2px;
  font-size: smaller;
}

.TopicCellDiv {
  display: flex;
  flex-direction: column;
}
