.main {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  padding: 6rem;
  min-height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginFormErrorSpan {
  width: 100%;
  box-sizing: border-box;
  color: red;
}

.loginFormInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.loginFormLabel {
  font-weight: bolder;
  width: 100%;
  box-sizing: border-box;
}

.headerLoggedInUser {
  padding: 5px;
}

.headerRightToolbar {
  float: right;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  overflow: scroll;
  padding: 1rem;
  border-bottom: solid 2px white;
}

.left {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 300px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  padding: 1rem;
  border-right: solid 2px white;
}

.centerpanel {
  position: absolute;
  left: 300px;
  right: 0px;
  top: 60px;
  bottom: 0px;
  margin: 10px;
  overflow: hidden;
}


.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

